@use 'variables' as *;

@use 'components/nav';
@use 'components/fonts';
@use 'components/button';
@use 'components/section';

@use 'sections/presentation';
@use 'sections/services';
@use 'sections/working_with_me';
@use 'sections/price_question';

*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: $dark;
}

html{
    scroll-behavior: smooth;
    &:has(nav.fixed){
        margin-top: 75px;
    }
}