/* Media screen */
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;
$xxl-screen: 1400px;

/* colors */
$primary-1: #FA9A10;
$primary-2: #EB3738;
$secondary-1: #00E1CD;
$secondary-2: #6E39D5;
$dark: #2E3035;
$darkest: #1B1D20;
$success: #56B53E;
$error: #A70E0E;

$degrade-primary: linear-gradient(-180deg, $primary-1, 50%, $primary-2 90%, $primary-2 100%);
$degrade-secondary: linear-gradient(-180deg, $secondary-1, 40%, $secondary-2 60%, $secondary-2 100%);

/* Section */ 
$margin-section: 3rem;

/* fonts */
$font-weight-normal: 400;
$font-weight-bold: 700;
$main-font: "jomhuria";
$secondary-font: "roboto";

$h1-font-size: (
  $sm-screen: 62px,
);;
$h2-font-size: (
  $sm-screen: 32px,
  $md-screen: 48px,
);
$h3-font-size: (
  $sm-screen: 24px,
  $md-screen: 32px,
);
$p-font-size: (
  $sm-screen: 11px,
  $md-screen: 13px,
  $lg-screen: 16px,
);
$font-sizes: (
  h1: $h1-font-size,
  h2: $h2-font-size,
  h3: $h3-font-size,
  p: $p-font-size
);

$h2-margin-bottom: 2rem;

/* Gutters */
$gutters-sm: 1rem;
$gutters-md: 2rem;
$gutters-lg: 3rem;

$section-padding: 2rem;