@use '../variables' as *; 

@mixin apply-mixins() {
    padding-left: $gutters-sm;
    padding-right: $gutters-sm;
    
    @media (min-width: $md-screen){
        padding-left: $gutters-md;
        padding-right: $gutters-md;
    }

    @media (min-width: $lg-screen){
        padding-left: $gutters-lg;
        padding-right: $gutters-lg;
    }
}