@use '../variables' as *;
@use '../mixins/font-sizes.scss' as *;


@font-face {
    font-family: $main-font;
    src: url("./../fonts/Jomhuria.ttf");
}

@font-face {
    font-family: "roboto";
    src: url("./../fonts/Roboto.ttf");
}

h1, h2, h3{
    font-family: $main-font;
    font-weight: 300;
}

h1{
    display: flex;
    flex-direction: column;

    span{
        line-height: 0.65;
    }

    span:nth-child(1){
        background: $degrade-primary;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
    
    span:nth-child(2){
        background: $degrade-secondary;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
}

h2{
    line-height: 0.75;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

h3{
    color: white;
    line-height: 0.65;
    margin-bottom: .5rem;
}

p{
    font-family: $secondary-font;
    color: white;
}

@each $element, $sizes in $font-sizes {
  #{$element} {
    @include responsive-font-sizes($sizes);
  }
}


@media (min-width: $lg-screen){
    h1{
        flex-direction: row;
        gap: .5rem;
    }
}