@use '../variables' as *; 
@use '../mixins/gutters.scss' as *; 

main{
    gap: $margin-section;
    display: flex;
    flex-direction: column;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(.no-gutters){
        @include generate-gutters(margin-left, margin-right);
    }
}