@use '../variables' as *; 
@use '../mixins/gutters.scss' as *; 

main{
    gap: $margin-section;
    display: flex;
    flex-direction: column;
}

section{
    &:not(.no-gutters){
        @include generate-gutters(margin-left, margin-right);
    }
}