@use '../variables' as *; 
@use '../mixins/gutters' as *;

section{
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    @include apply-mixins();

    &.no-gutters{
        padding-left: 0;
        padding-right: 0;
    }
}