@use '../variables' as *; 

$gap-list-x: 10px;
$gap-list-y: 50px;
$responsive-icon-size: 24px;
$lg-icon-size: 48px;
$responsive-item-size: 50%;
$lg-item-size: 33.33%;

section#why{
    h2{
        text-align: center;
        margin-bottom: $h2-margin-bottom;
    }

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        list-style: none;
        width: 100%;
        column-gap: $gap-list-x;
        row-gap: $gap-list-y;

        li{
            width: calc($responsive-item-size - ($gap-list-x/2));
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-align: right;
            gap: 10px;
            

            p{
                font-style: italic;
            }

            > div:has(img){
                background: $degrade-primary;
                padding: .5rem;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: $responsive-icon-size;
                    width: $responsive-icon-size;
                }
            }


            &:nth-child(even){
                text-align: left;
                flex-direction: row-reverse;
            }
        }
    }
}


@media (min-width: $lg-screen){
    section#why ul {
        align-items: flex-start;
        li {
            width: calc($lg-item-size - $gap-list-x);
            flex-direction: column-reverse;
            justify-content: center;
            &:nth-child(even){
                flex-direction: column-reverse;
            }

            h3, p{
                text-align: center;
            }
            
            > div:has(img){
                padding: 1rem;
                img{
                    height: $lg-icon-size;
                    width: $lg-icon-size;
                }
            }
        }
    }
}