@use '../variables' as *;

$widthInnerCircle: 100px;   // Cercle interne
$circle: 250px;             // Cercle principal
$borderWidth: 1rem;         // Taille de la bordure entre les images

/* A partir de md */
$widthInnerCircle-md: 200px;   // Cercle interne
$circle-md: 500px;             // Cercle principal
$borderWidth-md: 1.25rem;         // Taille de la bordure entre les images

/* A partir de lg */
$widthInnerCircle-lg: 200px;   // Cercle interne
$circle-lg: 1000px;             // Cercle principal
$borderWidth-lg: 2rem;         // Taille de la bordure entre les images

/* A partir de xl */
$widthInnerCircle-xl: 400px;   // Cercle interne
$circle-xl: 1400px;             // Cercle principal
$borderWidth-xl: 2rem;         // Taille de la bordure entre les images

$contentMarginLeft: calc(35%);  // Marge gauche à appliquer pour le contenu textuel
$contentMinHeight: $circle + 100px;     // Hauteur minimale à réserver pour le block (pour ajuster la hauteur du texte à celle du cercle

section#working_with_me{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: $contentMinHeight;
  overflow: hidden;

  .cercle {
    position: absolute;
    width: $circle;
    height: $circle;
    border-radius: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: $borderWidth;
    left: -150px;
    top: 50%;
    bottom: 50%;
    margin: auto;
    transform: rotate(45deg);
    transition: transform .3s ease;
  }

  .inner-circle{
    background-color: $dark;
    height: $widthInnerCircle;
    width: $widthInnerCircle;
    z-index: 2;
    position: absolute;
    border-radius: 100%;
    top: calc(50% - ($widthInnerCircle/2));
    left: calc(50% - ($widthInnerCircle/2));
  }

  .cercle .img-hiver {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .cercle .img-hiver::before {
    content: '';
    background-image: url("./../img/jpg/hiver.jpg");
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform .3s ease;
  }

  /* Coins du cercle */
  .cercle .img-hiver:nth-child(2) {
    grid-column: 1;
    grid-row: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-top-left-radius: 100%;
    &:before{
      transform: rotate(-135deg) scale(1.5);
    }
  }

  .cercle .img-hiver:nth-child(3) {
    grid-column: 2;
    grid-row: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-top-right-radius: 100%;
    &:before{
      transform: rotate(-45deg) scale(1.5);
    }
  }

  .cercle .img-hiver:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-bottom-left-radius: 100%;
    &:before{
      transform: rotate(-225deg) scale(1.5);
    }
  }

  .cercle .img-hiver:nth-child(5) {
    grid-column: 2;
    grid-row: 2;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-bottom-right-radius: 100%;
    &:before{
      transform: rotate(45deg) scale(1.5);
    }
  }

  > div {
    flex:1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul.steps{
    display: flex;
    width: auto;
    margin-left: $contentMarginLeft;
    align-items: auto;
    
    li{
      display: none;
      width: 100%;

      &.current{
        display: block;
      }
    }
  }

  .steps-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    margin-top: 1rem;
    gap: .5rem;

    button {
      img{
        width: 16px;
        height: 16px;
      }

      &.previous{
        opacity: 1;
        &:disabled{
          opacity:0;
          transition: opacity .3s ease;
        }
      }
    }
  }
}

@media (min-width: $md-screen){
  section#working_with_me{
    .cercle{
      width: $circle-md;
      height: $circle-md;
      gap: $borderWidth-md;
      left: -250px;
    }

    .inner-circle{
      height: $widthInnerCircle-md;
      width: $widthInnerCircle-md;
      top: calc(50% - ($widthInnerCircle-md/2));
      left: calc(50% - ($widthInnerCircle-md/2));
    }
  }
}

@media (min-width: $lg-screen){
  section#working_with_me{
    .cercle{
      width: $circle-lg;
      height: $circle-lg;
      gap: $borderWidth-lg;
      left: -550px;
    }

    .inner-circle{
      height: $widthInnerCircle-lg;
      width: $widthInnerCircle-lg;
      top: calc(50% - ($widthInnerCircle-lg/2));
      left: calc(50% - ($widthInnerCircle-lg/2));
    }

    padding-right: 3rem;
    padding-top: 3rem;

    h2{
      align-self: flex-end;
    }

    > div {
      width: 50%;
      align-self: flex-end;
    }
  }
}
@media (min-width: $xl-screen){
  section#working_with_me{
    .cercle{
      width: $circle-xl;
      height: $circle-xl;
      gap: $borderWidth-xl;
      left: -750px;
    }

    .inner-circle{
      height: $widthInnerCircle-xl;
      width: $widthInnerCircle-xl;
      top: calc(50% - ($widthInnerCircle-xl/2));
      left: calc(50% - ($widthInnerCircle-xl/2));
    }

    h2{
      align-self: flex-end;
      padding-right: 10rem;
      padding-top: 3rem;
    }

    > div {
      width: 50%;
      align-self: flex-end;
      padding-right: 3rem;
    }
  }
}